include LICENSE NOTICE README.md CHANGELOG.md DISCLAIMER.md SECURITY.md THIRD_PARTY_NOTICES.md
include CONTRIBUTING.md CODE_OF_CONDUCT.md CITATION.cff
recursive-include src *.py *.typed *.json *.yaml *.xlsx
recursive-include docs *.rst *.py *.json
recursive-include examples *.py
recursive-include tests *.py *.json
recursive-include tools *.py *.json
prune .work
prune build
prune dist
global-exclude __pycache__ *.py[cod] .DS_Store
